.books-row {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 10px;
  margin: 20px auto;
  max-width: 1200px;
}

.books-row .row-name {
  display: flex;
  gap: 5px;
  align-items: center;
}

.books-row .books {
  flex-wrap: wrap;
  max-width: 1200px;
  display: flex;
  gap: 20px;
  margin: auto;
  justify-content: flex-start;
  align-items: flex-start;
}
