.book {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 10px;
  cursor: pointer;
}

.book .bottom {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.book img {
  width: 150px;
  object-fit: cover;
  border-radius: 8px;
}
